---
import '../styles/global.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
			<title>{title}</title>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="flex flex-col min-h-screen pt-16"> <!-- pt-16 eklendi -->
			<slot />
		</div>
	</body>
</html>

<style is:global>
	/* ... mevcut global stiller */
</style>